{
  "openapi": "3.0.0",
  "info": {
    "title": "Porsline",
    "version": "6.10.0",
    "x-logo": {
      "url": "https://porsline.ir/static/website/opt-images/porsline-cover.png"
    },
    "description": "Porsline API Documentation"
  },
  "servers": [
    {
      "url": "https://survey.porsline.ir"
    }
  ],
  "paths": {
    "/api/surveys/{survey_id}/variables/hashes/": {
      "post": {
        "tags": [
          "Hidden Field Encryption"
        ],
        "summary": "Hash hidden fields",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "values"
                ],
                "properties": {
                  "values": {
                    "type": "array",
                    "description": "Each object represents map of variable names to variable values related to a respondent to be encrypted. Keys are variable names and values are variable values. For example, if I have two variables named `name` and `land` and the corresponding values are `Alice` and `Wonder land` and I want the respondent to be able to response only one, the request body is as the Request Sample",
                    "maxItems": 5000,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string",
                        "description": "Each property is a variable name and the value is the variable value"
                      },
                      "example": {
                        "name": "Alice",
                        "land": "Wonder land",
                        "is_unique": true
                      },
                      "properties": {
                        "is_unique": {
                          "type": "boolean",
                          "default": false,
                          "description": "`Optional property` If you'd like this respondent (to the generated link) to be able to response only once, add this property to its variable key-values."
                        },
                        "expiration_date_time": {
                          "type": "string",
                          "pattern": "^20\\d{2}-\\d{2}-\\d{2}\\s\\d{2}:\\d{2}$",
                          "description": "`Optional property` If you'd like this respondent (or the generated link) to have an expiration date, add this property to its variable key-values. i.e. 2020-04-02 16:20"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "some description"
        },
        "responses": {
          "200": {
            "description": "Returns the generated encrypted urls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "https://survey.porsline.ir/s/{survey_code}/?qs={hash 1}"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/variables/hashes/\"\n\npayload = json.dumps({\n  \"values\": [\n    {\n      \"myvar\": \"value1\",\n      \"is_unique\": False\n    },\n    {\n      \"myvar\": \"value2\",\n      \"is_unique\": False\n    },\n    {\n      \"myvar\": \"value3\",\n      \"is_unique\": False\n    }\n  ]\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/variables/hashes/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'POST',\n  CURLOPT_POSTFIELDS =>'{\"values\":[{\"myvar\":\"value1\",\"is_unique\":false},{\"myvar\":\"value2\",\"is_unique\":false},{\"myvar\":\"value3\",\"is_unique\":false}]}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Post, \"https://survey.porsline.ir/api/surveys/405034/variables/hashes/\")\n{\nContent = new StringContent(@\"{\"\"values\"\":[{\"\"myvar\"\":\"\"value1\"\",\"\"is_unique\"\":false},{\"\"myvar\"\":\"\"value2\"\",\"\"is_unique\"\":false},{\"\"myvar\"\":\"\"value3\"\",\"\"is_unique\"\":false}]}\", Encoding.UTF8, \"application/json\")\n};\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/variables/hashes/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"values\": [\n      {\n        \"myvar\": \"value1\",\n        \"is_unique\": false\n      },\n      {\n        \"myvar\": \"value2\",\n        \"is_unique\": false\n      },\n      {\n        \"myvar\": \"value3\",\n        \"is_unique\": false\n      }\n    ]\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/surveys/{survey_id}/variables/": {
      "get": {
        "tags": [
          "Variables"
        ],
        "summary": "Get list of survey variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns survey variables objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Variable's ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Variable's name"
                      },
                      "variable_source": {
                        "type": "integer",
                        "description": "0 if its source is query string and 0 for other sources"
                      },
                      "type": {
                        "type": "integer",
                        "description": "1 if its type is string and 2 if its type is integer"
                      },
                      "has_response": {
                        "type": "boolean",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/variables/\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/variables/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'GET',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Get, \"https://survey.porsline.ir/api/surveys/405034/variables/\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/variables/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Variables"
        ],
        "summary": "Create new variables",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "required": [
                    "name",
                    "variable_source"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Variable's ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Variable's name"
                    },
                    "variable_source": {
                      "type": "integer",
                      "description": "0 if its source is query string and 0 for other sources"
                    },
                    "type": {
                      "type": "integer",
                      "description": "1 if its type is string and 2 if its type is integer"
                    },
                    "has_response": {
                      "type": "boolean",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the generated encrypted urls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/variables/\"\n\npayload = json.dumps({\n  \"variables\": [\n    {\n      \"name\": \"myvar\",\n      \"variable_source\": 1\n    }\n  ]\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/variables/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'POST',\n  CURLOPT_POSTFIELDS =>'{\"variables\":[{\"name\":\"myvar\",\"variable_source\":1}]}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new RestClient(\"https://survey.porsline.ir/api/surveys/561934/variables/\");\nclient.Timeout = -1;\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"API-Key ****************************\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nvar body = @\"{\"\"variables\"\":[{\"\"name\"\":\"\"myvar\"\",\"\"variable_source\"\":1}]}\";\nrequest.AddParameter(\"application/json\", body,  ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\nConsole.WriteLine(response.Content);"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/variables/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"variables\": [\n      {\n        \"name\": \"myvar\",\n        \"variable_source\": 1\n      }\n    ]\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/folders/": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get list of user's folders",
        "responses": {
          "200": {
            "description": "Returns the new folder object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'GET',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new RestClient(\"https://survey.porsline.ir/api/folders/\");\nclient.Timeout = -1;\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"API-Key ****************************\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nvar body = @\"\";\nrequest.AddParameter(\"application/json\", body,  ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\nConsole.WriteLine(response.Content);"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://survey.porsline.ir/api/folders/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a new folder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the new folder",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "order": {
                    "type": "integer",
                    "description": "The folder's order. if not sent, the order will be set to highest"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the new folder object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/\n\npayload = json.dumps({\n  \"name\": \"new folder\"\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'POST',\n  CURLOPT_POSTFIELDS =>'{\"name\": \"new folder\"}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Post, \"https://survey.porsline.ir/api/surveys/561934/responses/\")\n{\nContent = new StringContent(\"{\\\"name\\\": \\\"new folder\\\"}\", Encoding.UTF8, \"application/json\")\n};\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://survey.porsline.ir/api/folders/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"name\": \"new folder\"\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/folders/{folder_id}/": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get an existing folder",
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "schema": {
              "type": "string"
            },
            "description": "Selected folder id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the folder object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/8/\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/8/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'GET',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Get, \"https://survey.porsline.ir/api/folders/8/\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://survey.porsline.ir/api/folders/8/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Folders"
        ],
        "summary": "Update an existing folder",
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "schema": {
              "type": "string",
              "required": [
                "true"
              ]
            },
            "description": "Selected folder id",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the folder",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "order": {
                    "type": "integer",
                    "description": "The folder's order. if not sent, the order will be set to highest"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the folder object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Folder's ID"
                    },
                    "order": {
                      "type": "integer",
                      "description": "Folder's location among other folders"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the folder",
                      "minLength": 1,
                      "maxLength": 100
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/8/\"\n\npayload = json.dumps({\n  \"name\": \"new folder name\",\n  \"order\": 1\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"PUT\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/8/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'PUT',\n  CURLOPT_POSTFIELDS =>'{\"name\": \"new folder name\", \"order\": 1}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Put, \"https://survey.porsline.ir/api/folders/8/\")\n{\n  Content = new StringContent(\"{\\\"name\\\": \\\"new folder name\\\", \\\"order\\\": 1}\", Encoding.UTF8, \"application/json\")\n};\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'PUT',\n  'url': 'https://survey.porsline.ir/api/folders/8/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"name\": \"new folder name\",\n    \"order\": 1\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Partially update the folder",
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "schema": {
              "type": "string",
              "required": [
                "true"
              ]
            },
            "description": "Selected folder id",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the folder",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "order": {
                    "type": "integer",
                    "description": "The folder's order. if not sent, the order will be set to highest"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the folder object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Folder's ID"
                    },
                    "order": {
                      "type": "integer",
                      "description": "Folder's location among other folders"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the Folder",
                      "minLength": 1,
                      "maxLength": 100
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/8/\"\n\npayload = json.dumps({\n  \"name\": \"new folder name\",\n  \"order\": 1\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"PATCH\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/8/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'PATCH',\n  CURLOPT_POSTFIELDS =>'{\"name\": \"new folder name\", \"order\": 1}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Patch, \"https://survey.porsline.ir/api/folders/8/\")\n{\n  Content = new StringContent(\"{\\\"name\\\": \\\"new folder name\\\", \\\"order\\\": 1}\", Encoding.UTF8, \"application/json\")\n};\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'PATCH',\n  'url': 'https://survey.porsline.ir/api/folders/8/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"name\": \"new folder name\",\n    \"order\": 1\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete an existing folder",
        "parameters": [
          {
            "in": "path",
            "name": "folder_id",
            "schema": {
              "type": "string",
              "required": [
                "true"
              ]
            },
            "description": "Selected folder id",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/folders/8/\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/folders/8/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'DELETE',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Delete, \"https://survey.porsline.ir/api/folders/8/\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'DELETE',\n  'url': 'https://survey.porsline.ir/api/folders/8/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/surveys/{survey_id}/settings/": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get survey's settings",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the settings object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "survey": {
                      "type": "object",
                      "description": "Survey's settings",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Determines survey name",
                          "example": "Porsline Survey"
                        },
                        "language": {
                          "type": "integer",
                          "description": "Determines survey language<br>Will be one of 1: English, 2: Persian, 3: Turkish, 4: Arabic",
                          "example": 1
                        },
                        "is_stopped": {
                          "type": "boolean",
                          "description": "Whether survey should be stopped or not"
                        }
                      }
                    },
                    "authentication_needed": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether there should be a Porsline or code authentication or not"
                    },
                    "porsline_auth": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether there should be a Porsline authentication or not"
                    },
                    "porsline_auth_no_spam": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether there should be a single response per Porsline user or not"
                    },
                    "porsline_auth_domains": {
                      "type": "array",
                      "description": "Enterprise feature<br>List of allowed emails in regex",
                      "items": {
                        "type": "string",
                        "description": "An allowed email regex for authentication",
                        "minLength": 1,
                        "maxLength": 60
                      },
                      "example": [
                        "*@porsline.ir",
                        "*@team.porsline.ir"
                      ]
                    },
                    "code_auth": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether there should be a Code authentication or not"
                    },
                    "code_auth_is_unique": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether there should be a single response per entry code or not"
                    },
                    "code_authentication_file_name": {
                      "type": "string",
                      "description": "Enterprise feature<br>The uploaded file name",
                      "minLength": 1,
                      "maxLength": 500
                    },
                    "auth_description": {
                      "type": "string",
                      "description": "Enterprise feature<br>Authentication description",
                      "minLength": 1,
                      "maxLength": 1000
                    },
                    "captcha_needed": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>"
                    },
                    "hidden_responder_details": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>"
                    },
                    "privacy_preserving_message_enabled": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>"
                    },
                    "no_spam": {
                      "type": "boolean",
                      "description": "Pro feature<br>Whether there should be a single response per browser or not. Can't be combined with tag_spam"
                    },
                    "tag_spam": {
                      "type": "boolean",
                      "description": "Pro feature<br>Whether the responders using the same browser should be tagged as spam or not. Can't be combined with no_spam"
                    },
                    "location_is_active": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether to get responder's location or not"
                    },
                    "location_is_required": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether the responder's location is required or not"
                    },
                    "location_description": {
                      "type": "string",
                      "description": "Enterprise feature<br>Description on why would you want to gather responder's location",
                      "minLength": 1,
                      "maxLength": 1000
                    },
                    "hide_next_button": {
                      "type": "boolean",
                      "description": "Whether to hide next button for responders"
                    },
                    "hide_previous_button": {
                      "type": "boolean",
                      "description": "Whether to hide previous button for responders"
                    },
                    "hide_progressbar": {
                      "type": "boolean",
                      "description": "Whether to hide progress bar for responders"
                    },
                    "expiration_date": {
                      "type": "string",
                      "format": "date",
                      "description": "The date to close the survey. must be after today"
                    },
                    "responding_ duration": {
                      "type": "string",
                      "format": "duration",
                      "example": "01:20:00",
                      "description": "The time each responder has to respond to the survey"
                    },
                    "edit_response_enabled": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether the responders are able to edit their response or not<br>Has to be activated for user"
                    },
                    "branding_removal": {
                      "type": "boolean",
                      "description": "Enterprise feature<br>Whether the porsline branding may be used or not<br>Has to be activated for user"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/settings/\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/settings/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'GET',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Get, \"https://survey.porsline.ir/api/surveys/561934/settings/\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/settings/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "Settings"
        ],
        "summary": "Update survey's settings",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "survey": {
                    "type": "object",
                    "description": "Survey's settings",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Determines survey name",
                        "example": "Porsline Survey"
                      },
                      "language": {
                        "type": "integer",
                        "description": "Determines survey language<br>Will be one of 1: English, 2: Persian, 3: Turkish, 4: Arabic",
                        "example": 1
                      },
                      "is_stopped": {
                        "type": "boolean",
                        "description": "Whether survey should be stopped or not"
                      }
                    }
                  },
                  "authentication_needed": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether there should be a Porsline or code authentication or not"
                  },
                  "porsline_auth": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether there should be a Porsline authentication or not"
                  },
                  "porsline_auth_no_spam": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether there should be a single response per Porsline user or not"
                  },
                  "porsline_auth_domains": {
                    "type": "array",
                    "description": "Enterprise feature<br>List of allowed emails in regex",
                    "items": {
                      "type": "string",
                      "description": "An allowed email regex for authentication",
                      "minLength": 1,
                      "maxLength": 60
                    },
                    "example": [
                      "*@porsline.ir",
                      "*@team.porsline.ir"
                    ]
                  },
                  "code_auth": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether there should be a Code authentication or not"
                  },
                  "code_auth_is_unique": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether there should be a single response per entry code or not"
                  },
                  "code_authentication_file_name": {
                    "type": "string",
                    "description": "Enterprise feature<br>The uploaded file name",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "auth_description": {
                    "type": "string",
                    "description": "Enterprise feature<br>Authentication description",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "captcha_needed": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Captcha will be needed to view survey"
                  },
                  "hidden_responder_details": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Hide responder details from survey creator"
                  },
                  "privacy_preserving_message_enabled": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Show message from Porsline to confirm responder details will be hidden"
                  },
                  "no_spam": {
                    "type": "boolean",
                    "description": "Pro feature<br>Whether there should be a single response per browser or not. Can't be combined with tag_spam"
                  },
                  "tag_spam": {
                    "type": "boolean",
                    "description": "Pro feature<br>Whether the responders using the same browser should be tagged as spam or not. Can't be combined with no_spam"
                  },
                  "location_is_active": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether to get responder's location or not"
                  },
                  "location_is_required": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether the responder's location is required or not"
                  },
                  "location_description": {
                    "type": "string",
                    "description": "Enterprise feature<br>Description on why would you want to gather responder's location",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "hide_next_button": {
                    "type": "boolean",
                    "description": "Whether to hide next button for responders"
                  },
                  "hide_previous_button": {
                    "type": "boolean",
                    "description": "Whether to hide previous button for responders"
                  },
                  "hide_progressbar": {
                    "type": "boolean",
                    "description": "Whether to hide progress bar for responders"
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date",
                    "description": "The date to close the survey. must be after today"
                  },
                  "responding_ duration": {
                    "type": "string",
                    "format": "duration",
                    "example": "01:20:00",
                    "description": "The time each responder has to respond to the survey"
                  },
                  "edit_response_enabled": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether the responders are able to edit their response or not<br>Has to be activated for user"
                  },
                  "branding_removal": {
                    "type": "boolean",
                    "description": "Enterprise feature<br>Whether the porsline branding may be used or not<br>Has to be activated for user"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the settings object"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/settings/\"\n\npayload = json.dumps({\n  \"auth_description\": \"Please enter your staff ID.\",\n  \"authentication_needed\": False,\n  \"code_auth\": True,\n  \"location_is_active\": True,\n  \"porsline_auth\": False\n})\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"PATCH\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/settings/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'PATCH',\n  CURLOPT_POSTFIELDS =>'{\"auth_description\":\"Please enter your staff ID.\",\"authentication_needed\":false,\"code_auth\":true,\"location_is_active\":true,\"porsline_auth\":false}',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Patch, \"https://survey.porsline.ir/api/surveys/561934/settings/\")\n{\nContent = new StringContent(\"{\\\"auth_description\\\":\\\"Please enter your staff ID.\\\",\\\"authentication_needed\\\":false,\\\"code_auth\\\":true,\\\"location_is_active\\\":true,\\\"porsline_auth\\\":false}\", Encoding.UTF8, \"application/json\");\n}\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'PATCH',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/settings/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"auth_description\": \"Please enter your staff ID.\",\n    \"authentication_needed\": false,\n    \"code_auth\": true,\n    \"location_is_active\": true,\n    \"porsline_auth\": false\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/surveys/{survey_id}/settings/authentication-codes/": {
      "get": {
        "tags": [
          "Authentication codes"
        ],
        "summary": "Get survey's authentication codes",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "type": "string",
              "default": 500
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the authentication codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Number of codes",
                      "example": 3
                    },
                    "next": {
                      "type": "string",
                      "format": "link",
                      "description": "Link to the next page",
                      "example": null
                    },
                    "previous": {
                      "type": "string",
                      "format": "link",
                      "description": "Link to the previous page",
                      "example": null
                    },
                    "results": {
                      "type": "array",
                      "description": "List of survey codes",
                      "items": {
                        "type": "string",
                        "description": "Code name",
                        "minLength": 1,
                        "maxLength": 30
                      },
                      "example": [
                        "code_1",
                        "code_2",
                        "code_3"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/?page=1&page_size=1000\"\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/?page=1&page_size=1000',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'GET',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Get, \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/?page=1&page_size=1000\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/?page=1&page_size=1000',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Authentication codes"
        ],
        "summary": "Create new authentication codes",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 5000,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 30
                },
                "example": [
                  "code_1",
                  "code_2",
                  "code_3"
                ],
                "description": "Codes to be created"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30
                  },
                  "example": [
                    "code_1",
                    "code_2",
                    "code_3"
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/\"\n\npayload = json.dumps([\n  \"code1\",\n  \"code2\",\n  \"code3\"\n])\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'POST',\n  CURLOPT_POSTFIELDS =>'[\"code1\", \"code2\", \"code3\"]',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Post, \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/\")\n{\nContent = new StringContent(\"[\"code1\", \"code2\", \"code3\"]\", Encoding.UTF8, \"application/json\");\n}\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify([\n    \"code1\",\n    \"code2\",\n    \"code3\"\n  ])\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Authentication codes"
        ],
        "summary": "Delete survey's authentication codes",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 5000,
                "items": {
                  "type": "string",
                  "maxLength": 30
                },
                "example": [],
                "description": "Codes to be deleted"
              }
            }
          },
          "description": "If there is no body, all the codes will be deleted"
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/\n\npayload = \"\"\nheaders = {\n  'Authorization': 'API-Key ****************************',\n  'Content-Type': 'application/json'\n}\n\nresponse = requests.request(\"DELETE\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'DELETE',\n  CURLOPT_HTTPHEADER => array(\n    'Authorization: API-Key ****************************',\n    'Content-Type: application/json'\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nclient.DefaultRequestHeaders.Add(\"Authorization\", \"Token ****************************\");\nvar webRequest = new HttpRequestMessage(HttpMethod.Delete, \"https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/\");\nvar response = client.Send(webRequest);\nusing var reader = new StreamReader(response.Content.ReadAsStream());\nConsole.WriteLine(reader.ReadToEnd());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'DELETE',\n  'url': 'https://survey.porsline.ir/api/surveys/561934/settings/authentication-codes/',\n  'headers': {\n    'Authorization': 'API-Key ****************************',\n    'Content-Type': 'application/json'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/v2/surveys/{survey_id}/": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Retrieve survey",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the authentication codes",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Survey"
                    }
                  ],
                  "properties": {
                    "subdomain": {
                      "$ref": "#/components/schemas/UserSubdomain"
                    },
                    "shared_by": {
                      "type": "object",
                      "description": "Details of owner of the folder if it's shared with request user",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "user_type": {
                          "type": "integer",
                          "format": "int32",
                          "enum": [
                            1,
                            2,
                            3
                          ],
                          "description": "\"1: free, 2: pro, 3: enterprise\""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Survey"
        ],
        "summary": "Delete survey",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "responses": {
          "204": {
            "description": "Survey with id = pk has been deleted and added to Trash."
          }
        }
      }
    },
    "/api/v2/surveys/{survey_id}/questions/": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Create Question",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WelcomeQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/TextQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/MultipleChoiceQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/PictureChoiceQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/StatementQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/OpinionScaleQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/RatingQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/GroupQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/Appreciation"
                  },
                  {
                    "$ref": "#/components/schemas/DropDownChoice"
                  },
                  {
                    "$ref": "#/components/schemas/RankingQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/UploadFileQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/MatrixQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/PaymentQuestion"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MultipleChoiceQuestion"
                    },
                    {
                      "$ref": "#/components/schemas/MatrixQuestion"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/v2/surveys/<integer>/questions/\"\n\npayload = json.dumps({\n  \"title\": \"<string>\",\n  \"type\": \"<integer>\",\n  \"id\": \"<integer>\",\n  \"html_title\": \"<string>\",\n  \"image_video_active\": False,\n  \"image_or_video\": 1,\n  \"image_path\": \"<string>\",\n  \"image_name\": \"<string>\",\n  \"video_url\": \"<string>\",\n  \"show_charts\": True,\n  \"description_text_active\": False,\n  \"description_text\": \"<string>\",\n  \"html_description_text\": \"<string>\",\n  \"related_group\": \"<integer>\",\n  \"question_number_is_hidden\": False,\n  \"prior_question\": \"<integer>\",\n  \"responding_duration\": \"<string>\",\n  \"title_active\": True,\n  \"description_active\": False,\n  \"description\": \"<string>\",\n  \"enter_text\": \"<string>\"\n})\nheaders = {\n  'Content-Type': 'application/json',\n  'Accept': 'application/json',\n  'Authorization': ''\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/v2/surveys/<integer>/questions/',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'POST',\n  CURLOPT_POSTFIELDS =>'{\n    \"title\": \"<string>\",\n    \"type\": \"<integer>\",\n    \"id\": \"<integer>\",\n    \"html_title\": \"<string>\",\n    \"image_video_active\": false,\n    \"image_or_video\": 1,\n    \"image_path\": \"<string>\",\n    \"image_name\": \"<string>\",\n    \"video_url\": \"<string>\",\n    \"show_charts\": true,\n    \"description_text_active\": false,\n    \"description_text\": \"<string>\",\n    \"html_description_text\": \"<string>\",\n    \"related_group\": \"<integer>\",\n    \"question_number_is_hidden\": false,\n    \"prior_question\": \"<integer>\",\n    \"responding_duration\": \"<string>\",\n    \"title_active\": true,\n    \"description_active\": false,\n    \"description\": \"<string>\",\n    \"enter_text\": \"<string>\"\n}',\n  CURLOPT_HTTPHEADER => array(\n    'Content-Type: application/json',\n    'Accept: application/json',\n    'Authorization: '\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Post, \"https://survey.porsline.ir/api/v2/surveys/<integer>/questions/\");\nrequest.Headers.Add(\"Accept\", \"application/json\");\nrequest.Headers.Add(\"Authorization\", \"\");\nvar content = new StringContent(\"{\\n\\t\\\"title\\\": \\\"<string>\\\",\\n\\t\\\"type\\\": \\\"<integer>\\\",\\n\\t\\\"id\\\": \\\"<integer>\\\",\\n\\t\\\"html_title\\\": \\\"<string>\\\",\\n\\t\\\"image_video_active\\\": false,\\n\\t\\\"image_or_video\\\": 1,\\n\\t\\\"image_path\\\": \\\"<string>\\\",\\n\\t\\\"image_name\\\": \\\"<string>\\\",\\n\\t\\\"video_url\\\": \\\"<string>\\\",\\n\\t\\\"show_charts\\\": true,\\n\\t\\\"description_text_active\\\": false,\\n\\t\\\"description_text\\\": \\\"<string>\\\",\\n\\t\\\"html_description_text\\\": \\\"<string>\\\",\\n\\t\\\"related_group\\\": \\\"<integer>\\\",\\n\\t\\\"question_number_is_hidden\\\": false,\\n\\t\\\"prior_question\\\": \\\"<integer>\\\",\\n\\t\\\"responding_duration\\\": \\\"<string>\\\",\\n\\t\\\"title_active\\\": true,\\n\\t\\\"description_active\\\": false,\\n\\t\\\"description\\\": \\\"<string>\\\",\\n\\t\\\"enter_text\\\": \\\"<string>\\\"\\n}\", null, \"application/json\");\nrequest.Content = content;\nvar response = await client.SendAsync(request);\nresponse.EnsureSuccessStatusCode();\nConsole.WriteLine(await response.Content.ReadAsStringAsync());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://survey.porsline.ir/api/v2/surveys/<integer>/questions/',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json',\n    'Authorization': ''\n  },\n  body: JSON.stringify({\n    \"title\": \"<string>\",\n    \"type\": \"<integer>\",\n    \"id\": \"<integer>\",\n    \"html_title\": \"<string>\",\n    \"image_video_active\": false,\n    \"image_or_video\": 1,\n    \"image_path\": \"<string>\",\n    \"image_name\": \"<string>\",\n    \"video_url\": \"<string>\",\n    \"show_charts\": true,\n    \"description_text_active\": false,\n    \"description_text\": \"<string>\",\n    \"html_description_text\": \"<string>\",\n    \"related_group\": \"<integer>\",\n    \"question_number_is_hidden\": false,\n    \"prior_question\": \"<integer>\",\n    \"responding_duration\": \"<string>\",\n    \"title_active\": true,\n    \"description_active\": false,\n    \"description\": \"<string>\",\n    \"enter_text\": \"<string>\"\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      }
    },
    "/api/v2/surveys/{survey_id}/questions/{id}/": {
      "patch": {
        "tags": [
          "Questions"
        ],
        "summary": "Update Question",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MultipleChoiceQuestion"
                  },
                  {
                    "$ref": "#/components/schemas/MatrixQuestion"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "duplicate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "example": "true"
          },
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MultipleChoiceQuestion"
                    },
                    {
                      "$ref": "#/components/schemas/MatrixQuestion"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python",
            "source": "import requests\nimport json\n\nurl = \"https://survey.porsline.ir/api/v2/surveys/<integer>/questions/<integer>/?duplicate=<string>\"\n\npayload = json.dumps({\n  \"title\": \"<string>\",\n  \"type\": \"<integer>\",\n  \"id\": \"<integer>\",\n  \"html_title\": \"<string>\",\n  \"image_video_active\": False,\n  \"image_or_video\": 1,\n  \"image_path\": \"<string>\",\n  \"image_name\": \"<string>\",\n  \"video_url\": \"<string>\",\n  \"show_charts\": True,\n  \"description_text_active\": False,\n  \"description_text\": \"<string>\",\n  \"html_description_text\": \"<string>\",\n  \"related_group\": \"<integer>\",\n  \"question_number_is_hidden\": False,\n  \"prior_question\": \"<integer>\",\n  \"responding_duration\": \"<string>\",\n  \"allow_multiple_select\": False,\n  \"max_selectable_choices\": 2,\n  \"min_selectable_choices\": 2,\n  \"vertical_choices\": False,\n  \"answer_required\": False,\n  \"randomize\": False,\n  \"correct_choice_id\": \"<integer>\",\n  \"correct_choice\": {\n    \"name\": \"<string>\",\n    \"id\": \"<integer>\",\n    \"alt_name\": \"<string>\",\n    \"hidden\": False,\n    \"choice_type\": 1\n  },\n  \"related_matrix_question\": \"<integer>\",\n  \"choices\": [\n    {\n      \"name\": \"<string>\",\n      \"id\": \"<integer>\",\n      \"alt_name\": \"<string>\",\n      \"hidden\": False,\n      \"choice_type\": 1\n    },\n    {\n      \"name\": \"<string>\",\n      \"id\": \"<integer>\",\n      \"alt_name\": \"<string>\",\n      \"hidden\": False,\n      \"choice_type\": 1\n    }\n  ]\n})\nheaders = {\n  'Content-Type': 'application/json',\n  'Accept': 'application/json',\n  'Authorization': ''\n}\n\nresponse = requests.request(\"PATCH\", url, headers=headers, data=payload)\n\nprint(response.text)\n"
          },
          {
            "lang": "php",
            "label": "php",
            "source": "<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => 'https://survey.porsline.ir/api/v2/surveys/<integer>/questions/<integer>/?duplicate=%3Cstring%3E',\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => '',\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => 'PATCH',\n  CURLOPT_POSTFIELDS =>'{\n    \"title\": \"<string>\",\n    \"type\": \"<integer>\",\n    \"id\": \"<integer>\",\n    \"html_title\": \"<string>\",\n    \"image_video_active\": false,\n    \"image_or_video\": 1,\n    \"image_path\": \"<string>\",\n    \"image_name\": \"<string>\",\n    \"video_url\": \"<string>\",\n    \"show_charts\": true,\n    \"description_text_active\": false,\n    \"description_text\": \"<string>\",\n    \"html_description_text\": \"<string>\",\n    \"related_group\": \"<integer>\",\n    \"question_number_is_hidden\": false,\n    \"prior_question\": \"<integer>\",\n    \"responding_duration\": \"<string>\",\n    \"allow_multiple_select\": false,\n    \"max_selectable_choices\": 2,\n    \"min_selectable_choices\": 2,\n    \"vertical_choices\": false,\n    \"answer_required\": false,\n    \"randomize\": false,\n    \"correct_choice_id\": \"<integer>\",\n    \"correct_choice\": {\n        \"name\": \"<string>\",\n        \"id\": \"<integer>\",\n        \"alt_name\": \"<string>\",\n        \"hidden\": false,\n        \"choice_type\": 1\n    },\n    \"related_matrix_question\": \"<integer>\",\n    \"choices\": [\n        {\n            \"name\": \"<string>\",\n            \"id\": \"<integer>\",\n            \"alt_name\": \"<string>\",\n            \"hidden\": false,\n            \"choice_type\": 1\n        },\n        {\n            \"name\": \"<string>\",\n            \"id\": \"<integer>\",\n            \"alt_name\": \"<string>\",\n            \"hidden\": false,\n            \"choice_type\": 1\n        }\n    ]\n}',\n  CURLOPT_HTTPHEADER => array(\n    'Content-Type: application/json',\n    'Accept: application/json',\n    'Authorization: '\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;\n"
          },
          {
            "lang": "C#",
            "label": "C#",
            "source": "var client = new HttpClient();\nvar request = new HttpRequestMessage(HttpMethod.Patch, \"https://survey.porsline.ir/api/v2/surveys/<integer>/questions/<integer>/?duplicate=<string>\");\nrequest.Headers.Add(\"Accept\", \"application/json\");\nrequest.Headers.Add(\"Authorization\", \"\");\nvar content = new StringContent(\"{\\n\\t\\\"title\\\": \\\"<string>\\\",\\n\\t\\\"type\\\": \\\"<integer>\\\",\\n\\t\\\"id\\\": \\\"<integer>\\\",\\n\\t\\\"html_title\\\": \\\"<string>\\\",\\n\\t\\\"image_video_active\\\": false,\\n\\t\\\"image_or_video\\\": 1,\\n\\t\\\"image_path\\\": \\\"<string>\\\",\\n\\t\\\"image_name\\\": \\\"<string>\\\",\\n\\t\\\"video_url\\\": \\\"<string>\\\",\\n\\t\\\"show_charts\\\": true,\\n\\t\\\"description_text_active\\\": false,\\n\\t\\\"description_text\\\": \\\"<string>\\\",\\n\\t\\\"html_description_text\\\": \\\"<string>\\\",\\n\\t\\\"related_group\\\": \\\"<integer>\\\",\\n\\t\\\"question_number_is_hidden\\\": false,\\n\\t\\\"prior_question\\\": \\\"<integer>\\\",\\n\\t\\\"responding_duration\\\": \\\"<string>\\\",\\n\\t\\\"allow_multiple_select\\\": false,\\n\\t\\\"max_selectable_choices\\\": 2,\\n\\t\\\"min_selectable_choices\\\": 2,\\n\\t\\\"vertical_choices\\\": false,\\n\\t\\\"answer_required\\\": false,\\n\\t\\\"randomize\\\": false,\\n\\t\\\"correct_choice_id\\\": \\\"<integer>\\\",\\n\\t\\\"correct_choice\\\": {\\n\\t\\t\\\"name\\\": \\\"<string>\\\",\\n\\t\\t\\\"id\\\": \\\"<integer>\\\",\\n\\t\\t\\\"alt_name\\\": \\\"<string>\\\",\\n\\t\\t\\\"hidden\\\": false,\\n\\t\\t\\\"choice_type\\\": 1\\n\\t},\\n\\t\\\"related_matrix_question\\\": \\\"<integer>\\\",\\n\\t\\\"choices\\\": [\\n\\t\\t{\\n\\t\\t\\t\\\"name\\\": \\\"<string>\\\",\\n\\t\\t\\t\\\"id\\\": \\\"<integer>\\\",\\n\\t\\t\\t\\\"alt_name\\\": \\\"<string>\\\",\\n\\t\\t\\t\\\"hidden\\\": false,\\n\\t\\t\\t\\\"choice_type\\\": 1\\n\\t\\t},\\n\\t\\t{\\n\\t\\t\\t\\\"name\\\": \\\"<string>\\\",\\n\\t\\t\\t\\\"id\\\": \\\"<integer>\\\",\\n\\t\\t\\t\\\"alt_name\\\": \\\"<string>\\\",\\n\\t\\t\\t\\\"hidden\\\": false,\\n\\t\\t\\t\\\"choice_type\\\": 1\\n\\t\\t}\\n\\t]\\n}\", null, \"application/json\");\nrequest.Content = content;\nvar response = await client.SendAsync(request);\nresponse.EnsureSuccessStatusCode();\nConsole.WriteLine(await response.Content.ReadAsStringAsync());"
          },
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "var request = require('request');\nvar options = {\n  'method': 'PATCH',\n  'url': 'https://survey.porsline.ir/api/v2/surveys/<integer>/questions/<integer>/?duplicate=<string>',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Accept': 'application/json',\n    'Authorization': ''\n  },\n  body: JSON.stringify({\n    \"title\": \"<string>\",\n    \"type\": \"<integer>\",\n    \"id\": \"<integer>\",\n    \"html_title\": \"<string>\",\n    \"image_video_active\": false,\n    \"image_or_video\": 1,\n    \"image_path\": \"<string>\",\n    \"image_name\": \"<string>\",\n    \"video_url\": \"<string>\",\n    \"show_charts\": true,\n    \"description_text_active\": false,\n    \"description_text\": \"<string>\",\n    \"html_description_text\": \"<string>\",\n    \"related_group\": \"<integer>\",\n    \"question_number_is_hidden\": false,\n    \"prior_question\": \"<integer>\",\n    \"responding_duration\": \"<string>\",\n    \"allow_multiple_select\": false,\n    \"max_selectable_choices\": 2,\n    \"min_selectable_choices\": 2,\n    \"vertical_choices\": false,\n    \"answer_required\": false,\n    \"randomize\": false,\n    \"correct_choice_id\": \"<integer>\",\n    \"correct_choice\": {\n      \"name\": \"<string>\",\n      \"id\": \"<integer>\",\n      \"alt_name\": \"<string>\",\n      \"hidden\": false,\n      \"choice_type\": 1\n    },\n    \"related_matrix_question\": \"<integer>\",\n    \"choices\": [\n      {\n        \"name\": \"<string>\",\n        \"id\": \"<integer>\",\n        \"alt_name\": \"<string>\",\n        \"hidden\": false,\n        \"choice_type\": 1\n      },\n      {\n        \"name\": \"<string>\",\n        \"id\": \"<integer>\",\n        \"alt_name\": \"<string>\",\n        \"hidden\": false,\n        \"choice_type\": 1\n      }\n    ]\n  })\n\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get Question",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MultipleChoiceQuestion"
                    },
                    {
                      "$ref": "#/components/schemas/MatrixQuestion"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Delete Question",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v2/surveys/{survey_id}/responses/results-table/": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Fetch survey responses results table",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit submitted responders since the specified date and time, inclusive. Must be passed in ISO 8601 format with timezone.(example: 2023-03-20T14:00:59%2B01:00)\n"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit submitted responders until the specified date and time, inclusive. Must be passed in ISO 8601 format with timezone.(example: 2023-03-20T14:00:59%2B01:00)\n"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Set responders sort criteria in this format:  \n  **{col_type},{object_id},{asc|desc}**  \n- **col_type:**  \n  - 1: question\n  - 2: variable\n  - 3: static variable\n  - 4: choice\n  - 5: picture choice\n  - 6: ranking choice\n  - 7: computational variable\n- **object_id:** id of the column type object\n- **asc | desc:** order responders ascending or descending\n"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "Int32"
            },
            "description": "Id of the filter to apply on results\n"
          },
          {
            "name": "inline_filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Apply inline filter on results in this format:  \n  **{first_operand_type},{first_operand_id},{operator},{second_operand_type},{second_operand_value}**  \n- **first_operand:** \n  - question id e.g *1,98776*\n  - static variables\n    - score: *3*\n    - responder start time: *4*\n    - responder submit time: *5*\n    - responder last edit time: *6*\n  - variable id e.g *2,3123*\n  - computational variable id e.g *7,4567*\n- **operator:**\n  - 1: is equal to\n  - 2: is not equal to\n  - 3: begins with\n  - 4: ends with\n  - 5: contains\n  - 6: does not contain\n  - 7: is before\n  - 8: is after\n  - 9: is equal or before\n  - 10: is equal or after\n  - 11: smaller than\n  - 12: greater than\n  - 13: is equal or greater\n  - 14: is equal or smaller\n- **second_operand:**\n  - text: *1,string*\n  - integer: *2,1234*\n  - choice id e.g *3,1234*\n  - picture choice id e.g *4,1234*\n  - drop down choice id e.g *5,1234*\n"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 30,
              "maximum": 1000
            },
            "description": "Maximum number of responders in a page. If you have fewer than 1000 responses, you can retrieve all of the responders in a single request by adding the page_size parameter.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content_Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responders_count": {
                      "type": "integer",
                      "description": "Total number of responders in the retrieved query"
                    },
                    "invisible_responders_count": {
                      "type": "integer",
                      "description": "Total number of responders in the retrieved query invisible due to user plan limitations"
                    },
                    "header": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "body": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "integer"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/surveys/{survey_id}/responses/export/": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Fetch survey responses export",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          },
          {
            "name": "export_format",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Select export format. 1: xlsx, 2: csv.\n"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit submitted responders since the specified date and time, inclusive. Must be passed in ISO 8601 format with timezone.(example: 2023-03-20T14:00:59%2B01:00)\n"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit submitted responders until the specified date and time, inclusive. Must be passed in ISO 8601 format with timezone.(example: 2023-03-20T14:00:59%2B01:00)\n"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Set responders sort criteria in this format:  \n  **{col_type},{object_id},{asc|desc}**  \n- **col_type:**  \n  - 1: question\n  - 2: variable\n  - 3: static variable\n  - 4: choice\n  - 5: picture choice\n  - 6: ranking choice\n  - 7: computational variable\n- **object_id:** id of the column type object\n- **asc | desc:** order responders ascending or descending\n"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "Int32"
            },
            "description": "Id of the filter to apply on results\n"
          },
          {
            "name": "inline_filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Apply inline filter on results in this format:  \n  **{first_operand_type},{first_operand_id},{operator},{second_operand_type},{second_operand_value}**  \n- **first_operand:** \n  - question id e.g *1,98776*\n  - static variables\n    - score: *3*\n    - responder start time: *4*\n    - responder submit time: *5*\n    - responder last edit time: *6*\n  - variable id e.g *2,3123*\n  - computational variable id e.g *7,4567*\n- **operator:**\n  - 1: is equal to\n  - 2: is not equal to\n  - 3: begins with\n  - 4: ends with\n  - 5: contains\n  - 6: does not contain\n  - 7: is before\n  - 8: is after\n  - 9: is equal or before\n  - 10: is equal or after\n  - 11: smaller than\n  - 12: greater than\n  - 13: is equal or greater\n  - 14: is equal or smaller\n- **second_operand:**\n  - text: *1,string*\n  - integer: *2,1234*\n  - choice id e.g *3,1234*\n  - picture choice id e.g *4,1234*\n  - drop down choice id e.g *5,1234*\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content_Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "export": {
                      "type": "string",
                      "description": "Export url"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/surveys/{survey_id}/notifications/": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Create notification",
        "parameters": [
          {
            "$ref": "#/components/parameters/SurveyID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/EmailNotification"
                  },
                  {
                    "$ref": "#/components/schemas/SMSNotification"
                  },
                  {
                    "$ref": "#/components/schemas/WebhookNotification"
                  }
                ]
              }
[...]
